<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wheezer</name>
    <icon src="resources/assist-badge.png" />
    <description>
        Patient-facing UI for pulling data from the ASSIST HET chest patch via Bluetooth and sending it to a Bluemix server.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Caleb C. Burton
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    
    <splash src="resources/splash.png"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="FadeSplashScreenDuration" value="750"/>
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="15"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
